body
    .background{
        background-size: 100%; 
        background-image: url("../media/gorillaz.png");
        background-repeat: repeat-y;
}


.background__other{ 
    background: black;
}
