
/*fondo de la pagina*/
body{
    background-size: 100%; 
    background-repeat: no-repeat;
    background-image: url("media/gorillaz.png");
    background-repeat: repeat-y;
}
/*color de la letra de todo el body*/
body{
    color: floralwhite;
}
/*aspectos de la lista*/
a{
    text-decoration-line: none;
    text-decoration: solid black;

}

.cabecera{
    margin-left: auto;
    margin-right: auto; /*solo horizontal*/

}
/*alineacion y espacio de la lista*/
.cabecera__boton{
    display: inline;
    padding: 20px;
    font-size: larger;
    
}

header{
    width: 100%;
    height: 100%;
}
/*modificaciones en el texto*/
.event__texto{
    font-size: x-large;
    background-color: black; width: 50%;
    border-style: solid;
    writing-mode: horizontal-tb;
}

.contactus__texto{
    font-size: x-large;
}

img{
    background-color: aliceblue; width: 50px; height: 50px;
}

.contactus__texto{
    font-size: larger;
    background-color: black; width: 40%;
    color: bisque;
}
